.center {
    text-align: center;
}

iframe {
	border:none;
}

#map {
    width:100%;
    height:300px;
}

#header {
    width: 200px;
}

.content {
   margin-top: 60px;
}

input {
    width: 98px;
}

.block label { 
    display: inline-block;
    width: 100px;
    text-align: right;
}
.well {
    margin-top: 30px;
}

.block {
    margin-top: 8px;
}

.block input{
    max-width: 250px;
    width:40%;
}

.green {
    color:green;
    font-weight:bold;
}
.block .error {
    display: inline;
    color: red;
}

.well img {
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%;
}
